## Boston House Values

In [2]:
import pandas as pd

In [3]:
# See http://lib.stat.cmu.edu/datasets/boston for more information
boston=pd.read_csv('https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/datasets/data/boston_house_prices.csv?raw=True',
                   header=1)
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

All columns will be features apart from MEDV which is the target. The features need to be scaled.

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
X = boston[boston.columns[boston.columns != 'MEDV']]
scaler=MinMaxScaler()
scaler.fit(X)
X = scaler.transform(X)
y = boston['MEDV']

In [14]:
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.model_selection import train_test_split

Split the features and target into train and test

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

Initialize a linear regression model and train on the training dataset.

In [11]:
lr=LinearRegression().fit(X_train, y_train)

See how the model performs on the test data. If $y$ is the true value, $\overline{y}$ is the mean of the true value and $\hat{y}$ is the predicted value then
$$
R^2 = 1 - \frac{\sum (y - \hat{y})^2}{\sum (y - \overline{y})^2}.
$$
The closer $R^2$ is to unity, the better the model.

In [12]:
print("Linear Regression training score: {:.2f}".format(lr.score(X_train, y_train)))
print("Linear Regression test score: {:.2f}".format(lr.score(X_test, y_test)))

Linear Regression training score: 0.75
Linear Regression test score: 0.68

See how ridge performs in comparison with linear gression.

In [16]:
ridge=Ridge().fit(X_train,y_train)
print("Ridge training score: {:.2f}".format(ridge.score(X_train,y_train)))
print("Ridge test score: {:.2f}".format(ridge.score(X_test,y_test)))

Ridge training score: 0.74
Ridge test score: 0.69

In [17]:
pa=pd.concat([
    pd.DataFrame({'LR':lr.predict(X_test)}),
    pd.DataFrame({'Ridge':ridge.predict(X_test)}),
    pd.DataFrame({'True':y_test}).reset_index(drop=True)
], axis=1)
pa['LR']=round(pa['LR'],1)
pa['Ridge']=round(pa['Ridge'],1)
pa.sample(5)

      LR  Ridge  True
10  24.8   24.9  21.5
84  23.1   23.1  19.4
30  22.3   22.4  23.1
9   20.6   20.7  16.8
41  32.0   31.0  28.2